{{ define "main" }}

  <!-- Section Main and Aside -->
  <section class="bg-gray-50 dark:bg-gray-700 w-full flex flex-col lg:flex-row justify-center transition duration-300 mt-8 lg:mt-16 lg:mt-0">

    <!-- Content -->
    <main id="main" class="w-full lg:w-[58%] bg-white dark:bg-gray-600 lg:dark:bg-gray-500 px-8 min-h-screen pt-20 pb-10 transition duration-300 dark:text-white">

      <article >
        <h1 class="text-4xl font-bold mb-2">
          Heading Article Lorem Inspun  Jamet Gans Baget Weabu
        </h1>
        <small>
          By {{ .Params.author }}. {{ .Date.Format "January 2, 2006 - 15:04" }}
        </small>

        <img src="/assets/images/img_article2.png" class="w-full my-8" alt="image article">

        <p class="my-4 text-lg">
          {{ replace .Content "<p></p>" "" | safeHTML }}
        </p>

      </article>

      <!-- Bagikan -->
      <section class="mt-10 mb-5">
        <div class="flex items-center my-3 mr-3">
          <h1 class="text-lg font-semibold mr-2">Bagikan</h1>
          <div class="border-t-[5px] border-dotted flex-grow mt-1 ">
          </div>
        </div>
        <div class="flex items-center gap-3 flex-wrap">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Site.BaseURL }}{{ substr .RelPermalink 1 }}" class="flex items-center px-3 py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer">
            <img src="/assets/icons/icon_facebook.svg" alt="facebook icon">
            <p class="ml-1  font-semibold">Facebook</p>
          </a>
          <a href="https://twitter.com/intent/tweet?url={{ .Site.BaseURL }}{{ substr .RelPermalink 1 }}&text={{ .Title }}" class="flex items-center px-3 py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer">
            <img src="/assets/icons/icon_twitter.svg" alt="facebook icon">
            <p class="ml-1  font-semibold">Twitter</p>
          </a>
          <a href="whatsapp://send?text={{ .Site.BaseURL }}{{ substr .RelPermalink 1 }}" class="flex items-center px-3 py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer">
            <img src="/assets/icons/icon_whatsapp.svg" alt="facebook icon">
            <p class="ml-1  font-semibold">Whatsapp</p>
          </a>
          <a href="https://t.me/share/url?url={{ .Site.BaseURL }}{{ substr .RelPermalink 1 }}" class="flex items-center px-3 py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer">
            <img src="/assets/icons/icon_telegram.svg" alt="facebook icon">
            <p class="ml-1  font-semibold">Telegram</p>
          </a>
        </div>
      </section>

      <!-- Article Lainnya -->
      <section class="my-5">
        <div class="flex items-center my-3 mr-3">
          <h1 class="text-lg font-semibold mr-2">Anda mungkin menyukai postingan ini</h1>
          <div class="border-t-[5px] border-dotted flex-grow mt-1 ">
          </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
          <a href="#" class="mb-5">
            <img src="/assets/images/img_article1.png" class="w-full h-4/5" alt="image article">
            <p class="text-xs h-2/5 py-2 font-bold hover:underline">Lorem Jamet Kamet Ngepet Gans Roni Kuli Tekno</p>
          </a>
          <a href="#" class="mb-5">
            <img src="/assets/images/img_article3.png" class="w-full h-4/5" alt="image article">
            <p class="text-xs h-2/5 py-2 font-bold hover:underline">Lorem Jamet Kamet Ngepet Gans Roni Kuli Tekno</p>
          </a>
          <a href="#" class="mb-5">
            <img src="/assets/images/img_article4.png" class="w-full h-4/5" alt="image article">
            <p class="text-xs h-2/5 py-2 font-bold hover:underline">Lorem Jamet Kamet Ngepet Gans Roni Kuli Tekno</p>
          </a>
          <a href="#" class="mb-5">
            <img src="/assets/images/img_article5.png" class="w-full h-4/5" alt="image article">
            <p class="text-xs h-2/5 py-2 font-bold hover:underline">Lorem Jamet Kamet Ngepet Gans Roni Kuli Tekno</p>
          </a>
        </div>
      </section>
      
    </main>

    <!-- Side Content -->
    {{- partial "sidebar.html" . -}}

  </section>


{{ end }}
