{{ define "main" }}

  <!-- Section Main and Aside -->
  <section class="bg-gray-50 dark:bg-gray-700 w-full flex flex-col lg:flex-row justify-center transition duration-300 mt-8 lg:mt-16 lg:mt-0">

    <!-- Content -->
    <main class="w-full lg:w-[58%] bg-white dark:bg-gray-600 lg:dark:bg-gray-500  px-8 min-h-screen py-24 transition duration-300">

      <!-- Title -->
      <div class="w-full text-center flex items-center mb-8 lg:mb-16">
        <div class="bg-gray-500 dark:bg-gray-500 lg:dark:bg-gray-600 flex-grow h-4"></div>
        <h3 class="inline-block text-lg px-3 lg:px-10 font-bold dark:text-white">
          POSTINGAN TERBARU
        </h3>
        <div class="bg-gray-500 dark:bg-gray-500 lg:dark:bg-gray-600 flex-grow h-4"></div>
      </div>

      <!-- List Content -->
      <div id="content" class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <!-- Card Post 1 -->
        <div class="min-h-[348px] w-full mb-5">
          <div class="relative w-full h-[196px] rounded-md overflow-hidden mb-3">
            <img src="/assets/images/img_article1.webp" class="w-full h-full object-cover" alt="image article" />
            <div class="absolute bottom-0 left-0 text-white flex gap-1 flex-wrap w-[95%]">
              <span class="tag">Teknologi</span>
              <span class="tag">Smartphone</span>
              <span class="tag">NEW</span>
            </div>
          </div>
          <article>
            <h1 class="font-bold text-xl leading-tight">
              <a href="#" class="dark:text-white dark:hover:text-gray-100 hover:underline">Heading Article Lorem Inspun  Jamet Gans Baget</a>
            </h1>
            <p class="text-xs my-2 font-semibold text-gray-700 dark:text-gray-200">
              By Andre Rio . April 28,2021 . 15:24 
            </p>
            <p class="text-sm text-black opacity-[60%] dark:text-white leading-tight">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam a dui sociis sodales libero justo. Egestas scelerisque morbi in platea. Mattis tortor quis...
            </p>
            <a href="#" class="text-lightblue-500 cursor-pointer font-semibold text-sm hover:underline">baca selengkapnya</a>
          </article>
        </div>
        
        <!-- Card Post 2 -->
        <div class="min-h-[348px] w-full mb-5">
          <div class="relative w-full h-[196px] rounded-md overflow-hidden mb-3">
            <a href="/blog-post/article.html">
              <img src="/assets/images/img_article2.webp" class="w-full h-full object-cover" alt="image article" />
            </a>
            <div class="absolute bottom-0 left-0 text-white flex gap-1 flex-wrap w-[95%]">
              <span class="tag">Teknologi</span>
              <span class="tag">Smartphone</span>
              <span class="tag">NEW</span>
            </div>
          </div>
          <article>
            <h1 class="font-bold text-xl leading-tight">
              <a href="/blog-post/article.html" class="dark:text-white dark:hover:text-gray-100 hover:underline">Heading Article Lorem Inspun  Jamet Gans Baget</a>
            </h1>
            <p class="text-xs my-2 font-semibold text-gray-700 dark:text-gray-200">
              By Andre Rio . April 28,2021 . 15:24 
            </p>
            <p class="text-sm text-black opacity-[60%] dark:text-white leading-tight">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam a dui sociis sodales libero justo. Egestas scelerisque morbi in platea. Mattis tortor quis...
            </p>
            <a href="/blog-post/article.html" class="text-lightblue-500 cursor-pointer font-semibold text-sm hover:underline">baca selengkapnya</a>
          </article>
        </div>

        <!-- Card Post 3 -->
        <div class="min-h-[348px] w-full mb-5">
          <div class="relative w-full h-[196px] rounded-md overflow-hidden mb-3">
            <img src="/assets/images/img_article3.webp" class="w-full h-full object-cover" alt="image article" />
            <div class="absolute bottom-0 left-0 text-white flex gap-1 flex-wrap w-[95%]">
              <span class="tag">Teknologi</span>
              <span class="tag">Smartphone</span>
              <span class="tag">NEW</span>
            </div>
          </div>
          <article>
            <h1 class="font-bold text-xl leading-tight">
              <a href="#" class="dark:text-white dark:hover:text-gray-100 hover:underline">Heading Article Lorem Inspun  Jamet Gans Baget</a>
            </h1>
            <p class="text-xs my-2 font-semibold text-gray-700 dark:text-gray-200">
              By Andre Rio . April 28,2021 . 15:24 
            </p>
            <p class="text-sm text-black opacity-[60%] dark:text-white leading-tight">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam a dui sociis sodales libero justo. Egestas scelerisque morbi in platea. Mattis tortor quis...
            </p>
            <a href="#" class="text-lightblue-500 cursor-pointer font-semibold text-sm hover:underline">baca selengkapnya</a>
          </article>
        </div>

        <!-- Card Post 4 -->
        <div class="min-h-[348px] w-full mb-5">
          <div class="relative w-full h-[196px] rounded-md overflow-hidden mb-3">
            <img src="/assets/images/img_article4.webp" class="w-full h-full object-cover" alt="image article" />
            <div class="absolute bottom-0 left-0 text-white flex gap-1 flex-wrap w-[95%]">
              <span class="tag">Info</span>
              <span class="tag">Software</span>
              <span class="tag">Programming</span>
              <span class="tag">Teknologi</span>
              <span class="tag">Smartphone</span>
              <span class="tag">NEW</span>
              <span class="tag">Android</span>
            </div>
          </div>
          <article>
            <h1 class="font-bold text-xl leading-tight">
              <a href="#" class="dark:text-white dark:hover:text-gray-100 hover:underline">Heading Article Lorem Inspun  Jamet Gans Baget</a>
            </h1>
            <p class="text-xs my-2 font-semibold text-gray-700 dark:text-gray-200">
              By Andre Rio . April 28,2021 . 15:24 
            </p>
            <p class="text-sm text-black opacity-[60%] dark:text-white leading-tight">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam a dui sociis sodales libero justo. Egestas scelerisque morbi in platea. Mattis tortor quis...
            </p>
            <a href="#" class="text-lightblue-500 cursor-pointer font-semibold text-sm hover:underline">baca selengkapnya</a>
          </article>
        </div>
        
        <!-- Card Post 5 -->
        <div class="min-h-[348px] w-full mb-5">
          <div class="relative w-full h-[196px] rounded-md overflow-hidden mb-3">
            <img src="/assets/images/img_article5.webp" class="w-full h-full object-cover" alt="image article" />
            <div class="absolute bottom-0 left-0 text-white flex gap-1 flex-wrap w-[95%]">
              <span class="tag">Teknologi</span>
              <span class="tag">Smartphone</span>
              <span class="tag">NEW</span>
            </div>
          </div>
          <article>
            <h1 class="font-bold text-xl leading-tight">
              <a href="#" class="dark:text-white dark:hover:text-gray-100 hover:underline">Heading Article Lorem Inspun  Jamet Gans Baget</a>
            </h1>
            <p class="text-xs my-2 font-semibold mt-1 text-gray-700 dark:text-gray-200">
              By Andre Rio . April 28,2021 . 15:24 
            </p>
            <p class="text-sm text-black opacity-[60%] dark:text-white leading-tight">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam a dui sociis sodales libero justo. Egestas scelerisque morbi in platea. Mattis tortor quis...
            </p>
            <a href="#" class="text-lightblue-500 cursor-pointer font-semibold text-sm hover:underline">baca selengkapnya</a>
          </article>
        </div>
        
      </div>
      <!-- End List Content -->

      <!-- BUTTON POSTINGAN LAINNYA -->
      <div class="w-full flex justify-center mt-14">
        <a href="#" class="px-6 py-3 rounded bg-gray-600 dark:bg-gray-500 lg:dark:bg-gray-600 hover:bg-gray-500 transition duration-75 font-semibold text-white">
          POSTINGAN LAINNYA
        </a>
      </div>

    </main>

    <!-- Side Content -->
    {{- partial "sidebar.html" . -}}

  </section>

{{ end }}
